<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Api-Rest-Movies</title>
  <link rel="stylesheet" href="/src/views/style.css">
</head>
<body>
  <div class="nav">
    <h1>Luces - Camaras <br> Api-Rest-Movies</h1>
  </div>
  <h1> Api-Rest de peliculas </h1>
  <div class="content">
    <div class="filt-name">
      <ul>
        <a href="/movies?name=harry%20potter"><li>Harry Potter</li></a>
        <a href="/movies?name=hermione%20granger"><li>Hermione Granger</li></a>
        <a href="/movies?name=ron%20weasley"><li>Ron Weasley</li></a>
        <a href="/movies?name=draco%20malfoy"><li>Draco Malfoy</li></a>
        <a href="/movies?name=cedric%20diggory"><li>Cedric Diggory</li></a>
        <a href="/movies?name=cho%20chang"><li>Cho Chang</li></a>
        <a href="/movies?name=neville%20longbottom"><li>Neville Longbottom</li></a>
        <a href="/movies?name=luna%20lovegood"><li>Luna Lovegood</li></a>
        <a href="/movies?name=ginny%20weasley"><li>Ginny Weasley</li></a>
        <a href="/movies?name=vincent%20crabbe"><li>Vincent Crabbe</li></a>
        <a href="/movies?name=gregory%20goyle"><li>Gregory Goyle</li></a>
        <a href="/movies?name=mr%20goyle"><li>Mr Goyle</li></a>
        <a href="/movies?name=percy%20weasley"><li>Percy Weasley</li></a>
        <a href="/movies?name=fred%20weasley"><li>Fred Weasley</li></a>
        <a href="/movies?name=george%20weasley"><li>George Weasley</li></a>
    </ul>
  </div>
    <div class="filt-name">
      <ul>
        <a href="/movies?name=lee%20jordan"><li>Lee Jordan</li></a>
        <a href="/movies?name=hannah%20abbott"><li>Hannah Abbott</li></a>
        <a href="/movies?name=susan%20bones"><li>Susan Bones</li></a>
        <a href="/movies?name=terry%20boot"><li>Terry Boot</li></a>
        <a href="/movies?name=mandy%20brocklehurst"><li>Mandy Brocklehurst</li></a>
        <a href="/movies?name=lavender%20brown"><li>Lavender Brown</li></a>
        <a href="/movies?name=millicent%20bulstrode"><li>Millicent Bulstrode</li></a>
        <a href="/movies?name=justin%20finch-fletchley"><li>Justin Finch-Fletchley</li></a>
        <a href="/movies?name=seamus%20finnigan"><li>Seamus Finnigan</li></a>
        <a href="/movies?name=morag%20macdougal"><li>Morag MacDougal</li></a>
        <a href="/movies?name=lily%20moon"><li>Lily Moon</li></a>
        <a href="/movies?name=theodore%20nott"><li>Theodore Nott</li></a>
        <a href="/movies?name=mr%20nott"><li>Mr Nott</li></a>
        <a href="/movies?name=pansy%20parkinson"><li>Pansy Parkinson</li></a>
        <a href="/movies?name=parvati%20patil"><li>Parvati Patil</li></a>
    </ul>    
    </div>
    <div class="filt-name">
      <ul>
        <a href="/movies?name=padma%20patil"><li>Padma Patil</li></a>
        <a href="/movies?name=sally-anne%20perks"><li>Sally-Anne Perks</li></a>
        <a href="/movies?name=lisa%20turpin"><li>Lisa Turpin</li></a>
        <a href="/movies?name=blaise%20zabini"><li>Blaise Zabini</li></a>
        <a href="/movies?name=oliver%20wood"><li>Oliver Wood</li></a>
        <a href="/movies?name=angelina%20johnson"><li>Angelina Johnson</li></a>
        <a href="/movies?name=marcus%20flint"><li>Marcus Flint</li></a>
        <a href="/movies?name=alicia%20spinet"><li>Alicia Spinet</li></a>
        <a href="/movies?name=katie%20bell"><li>Katie Bell</li></a>
        <a href="/movies?name=adrian%20pucey"><li>Adrian Pucey</li></a>
        <a href="/movies?name=miles%20bletchley"><li>Miles Bletchley</li></a>
        <a href="/movies?name=terence%20higgs"><li>Terence Higgs</li></a>
        <a href="/movies?name=colin%20creevey"><li>Colin Creevey</li></a>
        <a href="/movies?name=milicent%20bullstroude"><li>Milicent Bullstroude</li></a>
        <a href="/movies?name=ernie%20macmillan"><li>Ernie Macmillan</li></a>
    </ul>    
    </div>
    <div class="filt-nama">
      <ul>
        <a href="/movies?name=penelope%20clearwater"><li>Penelope Clearwater</li></a>
        <a href="/movies?name=derek"><li>Derek</li></a>
        <a href="/movies?name=cassius%20warrington"><li>Cassius Warrington</li></a>
        <a href="/movies?name=graham%20montague"><li>Graham Montague</li></a>
        <a href="/movies?name=peregrine%20derrick"><li>Peregrine Derrick</li></a>
        <a href="/movies?name=lucian%20bole"><li>Lucian Bole</li></a>
        <a href="/movies?name=dennis%20creevey"><li>Dennis Creevey</li></a>
        <a href="/movies?name=stewart%20ackerley"><li>Stewart Ackerley</li></a>
        <a href="/movies?name=malcolm%20baddock"><li>Malcolm Baddock</li></a>
        <a href="/movies?name=eleanor%20branstone"><li>Eleanor Branstone</li></a>
        <a href="/movies?name=owen%20cauldwell"><li>Owen Cauldwell</li></a>
        <a href="/movies?name=emma%20dobbs"><li>Emma Dobbs</li></a>
        <a href="/movies?name=laura%20madley"><li>Laura Madley</li></a>
        <a href="/movies?name=natalie%20mcdonald"><li>Natalie McDonald</li></a>
        <a href="/movies?name=graham%20pritchard"><li>Graham Pritchard</li></a>
    </ul>    
    </div>
  </div>
</body>
</html>